<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  Copyright 2022 一块小饼干(莫杨)

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<mapper namespace="com.mtfm.express.mapper.DeliveryAddressMapper">
    <!-- Delivery Address Map -->
    <resultMap id="delivery_address_map" type="com.mtfm.express.manager.provisioning.AddressDetails">
        <id property="id" column="id" jdbcType="BIGINT" javaType="long"/>
        <result property="alias" column="alias" jdbcType="VARCHAR" javaType="string"/>
        <result property="consignee" column="consignee" jdbcType="VARCHAR" javaType="string"/>
        <result property="phoneNumber" column="phone_number" jdbcType="CHAR" javaType="string"/>
        <result property="country" column="country" jdbcType="VARCHAR" javaType="string"/>
        <result property="province" column="province" jdbcType="VARCHAR" javaType="string"/>
        <result property="city" column="city" jdbcType="VARCHAR" javaType="string"/>
        <result property="region" column="region" jdbcType="VARCHAR" javaType="string"/>
        <result property="address" column="address" jdbcType="VARCHAR" javaType="string"/>
        <result property="defaultIndex" column="default_index" jdbcType="INTEGER" javaType="com.mtfm.tools.enums.Judge"
                typeHandler="com.mtfm.datasource.handler.CommonEnumTypeHandler"/>
    </resultMap>
    <!-- 查询用户的物流地址 -->
    <select id="selectAddresses" parameterType="string" resultMap="delivery_address_map">
        SELECT
            `eda`.`id`,
            `eda`.`alias`,
            `eda`.`consignee`,
            `eda`.`phone_number`,
            `eda`.`country`,
            `eda`.`province`,
            `eda`.`city`,
            `eda`.`region`,
            `eda`.`address`,
            `eda`.`default_index`
        FROM
            `express_delivery_address` `eda`
        WHERE
            `eda`.`user_id` = #{ userId }
    </select>
    <!-- 查询用户的物流地址 -->
    <select id="selectAddress" parameterType="long" resultMap="delivery_address_map">
        SELECT
            `eda`.`id`,
            `eda`.`alias`,
            `eda`.`consignee`,
            `eda`.`phone_number`,
            `eda`.`country`,
            `eda`.`province`,
            `eda`.`city`,
            `eda`.`region`,
            `eda`.`address`,
            `eda`.`default_index`
        FROM
            `express_delivery_address` `eda`
        WHERE
            `eda`.`id` = #{ id }
    </select>
</mapper>