<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  Copyright 2022 一块小饼干(莫杨)

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<mapper namespace="com.mtfm.purchase.manager.mapper.SkuItemMapper">
    <!-- 规格分组map -->
    <resultMap id="sku_item_group_map" type="com.mtfm.purchase.manager.provisioning.Spu$SkuItemGroup">
        <id property="skuId" column="sku_id" jdbcType="BIGINT" javaType="long"/>
        <result property="itemName" column="item_name" jdbcType="VARCHAR" javaType="string"/>
        <result property="icon" column="icon" jdbcType="VARCHAR" javaType="string"/>
        <collection property="skuValues" resultMap="com.mtfm.purchase.manager.mapper.SkuItemValueMapper.sku_val_map"/>
    </resultMap>
    <!-- 查询绑定spu的规格值 -->
    <select id="selectSkuGroupsBySpu" resultMap="sku_item_group_map">
        SELECT
            `ps`.`id` `sku_id`,
            `ps`.`item_name` `item_name`,
            `ps`.`icon`,
            `psiv`.`id` `val_id`,
            `psiv`.`item_image`,
            `psiv`.`item_val`
        FROM (
            SELECT
                `psiv`.*
            FROM
                `purchase_sku_item_value` `psiv`
            WHERE `psiv` = #{ spu }
        ) `item_val`
        LEFT JOIN `purchase_sku` `ps` ON `item_val`.`item_id` = `item_val`.`id`
    </select>
</mapper>