<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  Copyright 2022 一块小饼干(莫杨)

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<mapper namespace="com.mtfm.purchase.manager.mapper.SpuMapper">
    <!-- spu基础信息Mapping -->
    <resultMap id="spu_details_map" type="com.mtfm.purchase.manager.provisioning.SpuDetails">
        <id property="id" column="spu_id" jdbcType="BIGINT" javaType="long"/>
        <result property="spuCode" column="spu_code" jdbcType="VARCHAR" javaType="string"/>
        <result property="product" column="product" jdbcType="VARCHAR" javaType="string"/>
        <result property="unit" column="unit" jdbcType="VARCHAR" javaType="string"/>
        <result property="listing" column="listing" jdbcType="INTEGER" javaType="com.mtfm.tools.enums.Judge"
                typeHandler="com.mtfm.datasource.handler.CommonEnumTypeHandler"/>
        <result property="brief" column="brief" jdbcType="VARCHAR" javaType="string"/>
        <result property="categoryId" column="category_id" jdbcType="BIGINT" javaType="long"/>
        <result property="brandId" column="brand_id" jdbcType="BIGINT" javaType="long"/>
        <association property="category">
            <id property="id" column="category_id" jdbcType="BIGINT" javaType="long"/>
            <result property="value" column="category" jdbcType="VARCHAR" javaType="string"/>
        </association>
        <association property="brand">
            <id property="id" column="brand_id" jdbcType="BIGINT" javaType="long"/>
            <result property="value" column="brand" jdbcType="VARCHAR" javaType="string"/>
        </association>
    </resultMap>
    <!-- 根据id查询spu基础信息 -->
    <select id="selectSpuById" resultMap="spu_details_map">
        SELECT
            `ps`.`id` AS `spu_id`,
            `ps`.`spu_code`,
            `ps`.`product`,
            `ps`.`unit`,
            `ps`.`listing`,
            `ps`.`brief`,
            `pc`.`id` AS `category_id`,
            `pc`.`category`,
            `pb`.`id` AS `brand_id`,
            `pb`.`brand`
        FROM
            `purchase_spu` `ps`
            LEFT JOIN `purchase_category` `pc` ON `ps`.`category_id` = `pc`.`id`
            LEFT JOIN `purchase_brand` `pb` ON `ps`.`brand_id` = `pb`.`id`
        WHERE
            `ps`.`id` = #{ spuId }
            AND `ps`.`deleted` = 0
    </select>

    <select id="selectCommodityCount" resultType="long">
        SELECT
            COUNT(`pc`.`id`)
        FROM
            `purchase_commodity` `pc`
        WHERE
            `pc`.`spu_id` = #{ spuId }
    </select>
</mapper>