<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  Copyright 2022 一块小饼干(莫杨)

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<mapper namespace="com.mtfm.banner.mapper.SwiperImageMapper">
    <!-- swiper map -->
    <resultMap id="swiper_map" type="com.mtfm.banner.manager.provisioning.Swiper">
        <id property="id" column="id" jdbcType="BIGINT" javaType="long"/>
        <result property="imageUrl" column="image_url" jdbcType="VARCHAR" javaType="string"/>
        <result property="dimensions" column="dimensions" jdbcType="VARCHAR" javaType="string"/>
        <result property="redirectTo" column="redirect_to" jdbcType="VARCHAR" javaType="string"/>
        <result property="sort" column="sort" jdbcType="INTEGER" javaType="int"/>
        <result property="locked" column="locked" jdbcType="INTEGER" javaType="com.mtfm.tools.enums.Judge"
                typeHandler="com.mtfm.datasource.handler.CommonEnumTypeHandler"/>
    </resultMap>
    <!-- 轮播图分页查询 -->
    <select id="selectSwiperPage" resultMap="swiper_map">
        SELECT
            `psi`.`id`,
            `psi`.`image_url`,
            CONCAT(`psi`.`width`, '*', `psi`.`height`) `dimensions`,
            `psi`.`redirect_to`,
            `psi`.`sort`,
            `psi`.`locked`
        FROM
            `banner_swiper_image` `bsi`
        WHERE
            `bsi`.`deleted` = 0
    </select>
    <!-- 查询所有的轮播图 -->
    <select id="selectSwiper" resultMap="swiper_map">
        SELECT
            `bsi`.`id`,
            `bsi`.`image_url`,
            CONCAT(`bsi`.`width`, '*', `bsi`.`height`) `dimensions`,
            `bsi`.`redirect_to`,
            `bsi`.`sort`,
            `bsi`.`locked`
        FROM
            `banner_swiper_image` `bsi`
        WHERE
            `bsi`.`deleted` = 0
    </select>
</mapper>