<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  Copyright 2022 一块小饼干(莫杨)

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<mapper namespace="com.mtfm.backend_support.service.mapper.UserRoleMapper">
    <!-- 查询用户角色集合 -->
    <select id="selectRoleIds" resultType="com.mtfm.backend_support.entity.SolarRole">
        SELECT
            `sr`.`r_id` `id`,
            `sr`.`role_name` `roleName`,
            `sr`.`create_time` `createTime`,
            `sr`.`create_by` `createBy`,
            `sr`.`update_time` `updateTime`,
            `sr`.`update_by` `updateBy`
        FROM
            `solar_user_role` `sur`
        LEFT JOIN `solar_role` `sr` ON `sur`.`u_id` = `sr`.`u_id`
        WHERE `sur`.`u_id` = #{ userId } AND `sur`.`r_id` IS NOT NULL
    </select>

    <!-- 删除用户角色 -->
    <delete id="deleteRoles">
        DELETE FROM
            `solar_user_role`
        <where>
            `u_id` = #{ userId }
            <if test="roles != null and roles.size > 0">
                AND `r_id` IN
                <foreach collection="roles" index="index" item="item" open="(" close=")" separator="," nullable="false">
                    #{ item }
                </foreach>
            </if>
        </where>
    </delete>

    <!-- 添加用户角色 -->
    <insert id="insertRoles">
        INSERT IGNORE INTO
            `solar_user_role` (`u_id`, `r_id`)
        VALUES
        <foreach collection="roles" index="index" item="item" separator="," open="(" close=")" nullable="false">
            #{ userId }, #{ item }
        </foreach>
    </insert>
</mapper>