<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  Copyright 2022 一块小饼干(莫杨)

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<mapper namespace="com.mtfm.backend_support.provisioning.mapper.AuthorityMapper">
    <!-- 添加权限组关联的菜单 -->
    <insert id="insertGroupAuthorities">
        INSERT IGNORE INTO
        `solar_group_authority`
        ( `group_id`, `router_id` )
        VALUES
        <foreach collection="authorities" index="index" item="routerId" separator="," open="(" close=")" nullable="false">
            #{ groupId }, #{ routerId }
        </foreach>
    </insert>
    <!-- 删除权限组包含的权限 -->
    <delete id="deleteAuthorities">
        DELETE FROM
            `solar_group_authority`
        <where>
            `group_id` = #{ groupId }
            <if test="authorities != null and authorities.size > 0">
                AND `router_id` IN
                <foreach collection="authorities" index="index" item="routerId" separator="," open="(" close=")" nullable="false">
                    #{ routerId }
                </foreach>
            </if>
        </where>
    </delete>
    <!-- 通过权限组名称查询关联的用户 -->
    <select id="selectUsersInGroup" resultType="string">

    </select>
    <!-- 添加权限组给用户 -->
    <insert id="insertUserToGroup">
        INSERT INTO
        `solar_user_group`
        ( `user_id`, `group_id` )
        VALUES
        <foreach collection="groups" index="index" item="groupId" separator="," open="(" close=")" nullable="false">
            #{ userId }, #{ groupId }
        </foreach>
    </insert>
    <!-- 删除用户的权限组 -->
    <delete id="deleteUserFromGroup">
        DELETE FROM
        `solar_user_group`
        <where>
            `user_id` = #{ userId }
            <if test="groups != null and groups.size > 0">
                AND `group_id` IN
                <foreach collection="groups" index="index" item="groupId" open="(" close=")" separator="," nullable="false">
                    #{ groupId }
                </foreach>
            </if>
        </where>
    </delete>
</mapper>
