<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  Copyright 2022 一块小饼干(莫杨)

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<mapper namespace="com.mtfm.backend_support.service.mapper.MenuMapper">
    <!-- granted-menu -->
    <resultMap id="granted_menu_map" type="com.mtfm.backend_support.service.provisioning.GrantedMenu">
        <id column="key" property="key" javaType="string" jdbcType="VARCHAR"/>
        <result column="menuName" property="menuName" javaType="string" jdbcType="VARCHAR"/>
        <result column="routerName" property="routerName" javaType="string" jdbcType="VARCHAR"/>
        <result column="routerLink" property="routerLink" javaType="string" jdbcType="VARCHAR"/>
        <result column="componentAddress" property="componentAddress" javaType="string" jdbcType="VARCHAR"/>
        <result column="menuLevel" property="menuLevel" javaType="com.mtfm.backend_support.MenuLevel" jdbcType="INTEGER"
                typeHandler="com.mtfm.datasource.handler.CommonEnumTypeHandler"/>
        <result column="perm" property="perm" javaType="string" jdbcType="VARCHAR"/>
        <result column="parent" property="parent" javaType="string" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- 查询角色关联的菜单 -->
    <select id="selectMenusByRoleId" resultMap="granted_menu_map">
        SELECT
            `sm`.`m_id` `key`,
            `sm`.`menu_name` `menuName`,
            `sm`.`router_name` `routerName`,
            `sm`.`router_link` `routerLink`,
            `sm`.`component_address` `componentAddress`,
            `sm`.`menu_level` `menuLevel`,
            `sm`.`perm` `perm`,
            `sm`.`icon` `icon`,
            `sm`.`parent_id` `parent`
        FROM
            `solar_role_router` `srr`
            LEFT JOIN `solar_menu` `sm` ON `srr`.`router_id` = `sm`.`m_id`
        WHERE
            `srr`.`r_id` = #{ roleId }
            AND `sm`.`deleted` = 0
            AND `sm`.`hidden` = 0
    </select>
    <!-- 查询多个角色关联的菜单 -->
    <select id="selectMenusByRoleIds" resultMap="granted_menu_map">
        SELECT
            `sm`.`m_id` `key`,
            `sm`.`menu_name` `menuName`,
            `sm`.`router_name` `routerName`,
            `sm`.`router_link` `routerLink`,
            `sm`.`component_address` `componentAddress`,
            `sm`.`menu_level` `menuLevel`,
            `sm`.`perm` `perm`,
            `sm`.`icon` `icon`,
            `sm`.`parent_id` `parent`
        FROM
            `solar_role_router` `srr`
            LEFT JOIN `solar_menu` `sm` ON `srr`.`router_id` = `sm`.`m_id`
        WHERE
            `sm`.`deleted` = 0
            AND `sm`.`hidden` = 0
            <if test="roles != null and roles.size > 0">
                AND `srr`.`role_id` IN
                <foreach collection="roles" open="(" close=")" separator="," item="item" index="index">
                    #{ item }
                </foreach>
            </if>
            <if test="roles = null or roles.size = 0">
                AND `srr`.`role_id` is null
            </if>
    </select>

    <select id="selectMenus" resultMap="granted_menu_map">
        SELECT
            `sm`.`m_id` `key`,
            `sm`.`menu_name` `menuName`,
            `sm`.`router_name` `routerName`,
            `sm`.`router_link` `routerLink`,
            `sm`.`component_address` `componentAddress`,
            `sm`.`menu_level` `menuLevel`,
            `sm`.`perm` `perm`,
            `sm`.`icon` `icon`,
            `sm`.`parent_id` `parent`
        FROM
            `solar_menu` `sm`
        WHERE
            `sm`.`deleted` = 0
            AND `sm`.`hidden` = 0
    </select>
    <!-- 添加角色关联的菜单 -->
    <insert id="insertMenusOnRole">
        INSERT IGNORE INTO
            `solar_role_router`
        ( `role_id`, `router_id` )
        VALUES
        <foreach collection="menuIds" index="index" item="item" separator="," open="(" close=")" nullable="false">
            #{ roleId }, #{ item }
        </foreach>
    </insert>
</mapper>